/* Global variables */

:root {
    /* Fonts colors */
    --font-color: white;
    
    /* Elements colors */
    --button-font-color: white;
    --button-color: #002D62;
    --button-color-teacher-panel: gray;
    --button-color-hover: #007FFF;

    /* Background colors */
    --body-background: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    --main-body-background: rgb(224, 224, 224);

    /* Elements parameters */
    --default-border: 1px solid black;
}

/* Global settings */

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Font init */
body {
    font-family: Helvetica, sans-serif;
    background: var(--body-background);
}

.header-container span {
    font-size: 2em;
    font-weight: 500;
    color: var(--font-color);
}

/* Grid init */
.header-container { grid-area: header; }
.navbar-container { grid-area: navbar; }
.main-body-container { grid-area: main-body; }
.footer-container { grid-area: footer; }

.main-container {
    display: grid;
    grid-template-columns: 21.3em auto auto auto auto auto;
    grid-template-areas: 
    'header header header header header header'
    'navbar main-body main-body main-body main-body main-body'
    'navbar main-body main-body main-body main-body main-body'
    'footer footer footer footer footer footer';
}

/* Header container styling */
.header-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 5rem;
    align-self: start;
    position: sticky;
    top: 0;
    background: var(--body-background);
}

.header-container > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container select {
    grid-column-start: 1;
    margin: 1.5rem;
    margin-left: 0.65rem;
    width: 50%;
}

.header-container span {
    grid-column-start: 2;
}

.header-container div {
    margin-left: auto;
    grid-column-start: 3;
}

.header-container button {
    border: 0;
    margin: 0.1em;
    margin-top: .5em;
    margin-bottom: .5em;
    padding: 7px 48px;
    background-color: var(--button-color);
    color: var(--button-font-color);
    font-size: 1.2em;
}

.header-container button:last-child {
    margin-right: .65em;
}

/* Navbar container styling */

.navbar-container {
    display: grid;
    align-self: start;
    position: sticky;
    top: 5rem;
    margin-left: .65em;
}

.navbar-container > * {
    border: var(--default-border);
    border-bottom: 0;
    font-size: 1em;
    width: 20rem;
    height: 5rem;
    background-color: var(--button-color);
    color: var(--button-font-color);
}

.navbar-container > *:last-child {
    border-bottom: var(--default-border);
}

.navbar-container > *:hover, .header-container button:hover {
    background-color: var(--button-color-hover);
}

.navbar-container .active {
    text-decoration: underline;
}

/* main body container styling */
.main-body-container {
    background-color: var(--main-body-background);
    border: var(--default-border);
    border-right: 0;
    padding: 2rem;
}

th {
    background-color: gray;
}

    /* Announcments */

.main-body-container .notes-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-body-container .note {
    width: 65%;
    justify-self: center;
    border: var(--default-border);
    padding: 1rem;
    margin: 1rem;
}

.main-body-container .note-title h3 {
    text-align: center;
    margin: .5rem;
}

.main-body-container .notes-wrapper button {
    padding: 7px 48px;
    background-color: var(--button-color);
    color: var(--button-font-color);
    font-size: 1.2em;
    border: 0;
}

.main-body-container .notes-wrapper button:hover {
    background-color: var(--button-color-hover);
}

/* = STUDENT = */
/* Schedule */

    /* Schedule */

.main-body-container .schedule-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.main-body-container .schedule-wrapper * {
    /* border: 1px solid black; */
}

.main-body-container .schedule-wrapper td, .main-body-container .schedule-wrapper th {
    text-align: center;
    padding: 1.2rem;
    border: 1px solid black;
}

.main-body-container .schedule-wrapper table {
    border-collapse: collapse;
    width: 90%;
    table-layout: fixed;
}

    /* Homeworks */

.main-body-container .homework-wrapper * {
    /* border: 1px solid black; */
}

.main-body-container .homework-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.main-body-container .homework-wrapper table {
    border-collapse: collapse;
    width: 90%;
    table-layout: fixed;
}

.main-body-container .homework-wrapper td, .main-body-container .homework-wrapper th {
    text-align: center;
    padding: 1.2rem;
    border: 1px solid black;
}

    /* Grades */
.main-body-container .grades-wrapper * {
    /* border: 1px solid black; */
}

.main-body-container .grades-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.main-body-container .grades-wrapper table {
    border-collapse: collapse;
    width: 90%;
    table-layout: fixed;
}

.main-body-container .grades-wrapper td, .main-body-container .grades-wrapper th {
    text-align: center;
    padding: 1.2rem;
    border: 1px solid black;
}

    /* Attendance */
/* .main-body-container .attendance-wrapper * {
    border: 1px solid black;
} */

.main-body-container .attendance-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.main-body-container .attendance-wrapper table {
    border-collapse: collapse;
    width: 90%;
     /*table-layout: fixed;*/
}

.main-body-container .attendance-wrapper td, .main-body-container .attendance-wrapper th {
    text-align: center;
    padding: 1.2rem;
    word-wrap: break-word;
    border: 1px solid black;
}

/* = TEACHER = */
.main-body-container .teacher-panel {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}

.main-body-container select {
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.main-body-container .teacher-panel button, .main-body-container .login-wrapper button {
    padding: 7px 48px;
    background-color: var(--button-color-teacher-panel);
    color: var(--button-font-color);
    font-size: 1.2em;
    border: 0;
}

.main-body-container .teacher-panel button:hover, .main-body-container .login-wrapper button:hover {
    background-color: rgb(62, 62, 62);
}

.main-body-container .teacher-panel form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

/* footer container styling */

.footer-container {
    background: var(--body-background);
    text-align: center;
    font-weight: bold;
}

/* = GENERAL */

    /* LOGIN */
.main-body-container .login-wrapper {
    display: flex;
    justify-content: center;
}

.main-body-container .login-wrapper form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    white-space: nowrap;
}

.main-body-container .login-wrapper form > label {
    margin: 0.1rem;
}

.main-body-container .login-wrapper form div > * {
    margin: 1rem;
}

.main-body-container .login-wrapper form > * {
    margin: .5rem;
    padding: .5rem;
    text-align: center;
}