<div class="navbar-container">
    <button class="active" onclick="location.href='/home'">Strona główna</button>
    <button onclick="location.href='/messages'">Wiadomości</button>
    <button onclick="location.href='/admin/manage_users'">Zarządzaj użytkownikami</button>
    <button onclick="location.href='/admin/manage_subjects'">Zarządzaj zajęciami</button>
    <button onclick="location.href='/admin/manage_classes'">Zarządzaj klasami</button>
    <button onclick="location.href='/admin/add_announcement'">Dodaj ogłoszenie</button>
</div>