<div class="navbar-container">
    <button class="active" onclick="location.href='/home'">Strona główna</button>
    <button onclick="location.href='/messages'">Wiadomości</button>
    <button onclick="location.href='/manage_users'">Zarządzaj użytkownikami</button>
    <button onclick="location.href='/manage_subject'">Zarządzaj zajęciami</button>
    <button onclick="location.href='/manage_classes'">Zarządzaj klasami</button>
    <button onclick="location.href='/add_announcement'">Dodaj ogłoszenie</button>
</div>