<div class="navbar-container">
    <button <% if (current_path == 'parent')    { %> class="active" <% } %> onclick="location.href='/parent'">Strona główna</button>
    <button <% if (current_path == 'messages')  { %> class="active" <% } %> onclick="location.href='/parent/messages'">Wiadomości</button>
    <button <% if (current_path == 'attendance'){ %> class="active" <% } %> onclick="location.href='/parent/attendance'">Frekwencja</button>
    <button <% if (current_path == 'grades')    { %> class="active" <% } %> onclick="location.href='/parent/grades'">Oceny</button>
    <button <% if (current_path == 'schedule')  { %> class="active" <% } %> onclick="location.href='/parent/schedule'">Plan zajęć</button>
    <button <% if (current_path == 'homeworks') { %> class="active" <% } %> onclick="location.href='/parent/homeworks'">Prace domowe</button>
</div>