<div class="navbar-container">
    <button class="active" onclick="location.href='/parent'">Strona główna</button>
    <button onclick="location.href='/parent/messages'">Wiadomości</button>
    <button onclick="location.href='/parent/attendance'">Frekwencja</button>
    <button onclick="location.href='/parent/grades'">Oceny</button>
    <button onclick="location.href='/parent/schedule'">Plan zajęć</button>
    <button onclick="location.href='/parent/homeworks'">Prace domowe</button>
</div>