<div class="navbar-container">
    <button class="active" onclick="location.href='/home'">Strona główna</button>
    <button onclick="location.href='/messages'">Wiadomości</button>
    <button onclick="location.href='/attendance'">Frekwencja</button>
    <button onclick="location.href='/grades'">Oceny</button>
    <button onclick="location.href='/schedule'">Plan zajęć</button>
    <button onclick="location.href='/homeworks'">Prace domowe</button>
</div>