<div class="navbar-container">
    <button class="active" onclick="location.href='/student'">Strona główna</button>
    <button onclick="location.href='/student/messages'">Wiadomości</button>
    <button onclick="location.href='/student/attendance'">Frekwencja</button>
    <button onclick="location.href='/student/grades'">Oceny</button>
    <button onclick="location.href='/student/schedule'">Plan zajęć</button>
    <button onclick="location.href='/student/homeworks'">Prace domowe</button>
</div>