<div class="navbar-container">
    <button class="active" onclick="location.href='/teacher'">Strona główna</button>
    <button onclick="location.href='/teacher/messages'">Wiadomości</button>
    <button onclick="location.href='/teacher/attendance'">Frekwencja</button>
    <button onclick="location.href='/teacher/grades'">Oceny</button>
    <button onclick="location.href='/teacher/schedule'">Plan zajęć</button>
    <button onclick="location.href='/teacher/homeworks'">Prace domowe</button>
</div>