<%- include('../templates/header.ejs') %>
<%- include('../templates/navbar.ejs') %>

<div class="main-body-container">
    <fieldset>
        <legend><h2>Zmień hasło</h2></legend>
    <div class="change-pass-wrapper">
        <form action="" method="POST" id="send_form">
            <input type="password" name="old_pass" placeholder="Stare hasło">
            <input type="password" name="new_pass" placeholder="Nowe hasło">
            <input type="password" name="new_pass_again" placeholder="Powtórz nowe hasło">
            <button type="button" id="submit_form">Zapisz</button>
        </form>
    </div>
    <div style="text-align: center;">
        <%- include('../templates/messages.ejs') %>
    </div>
</fieldset>
</div>

<div id="dialog-1" title="Potwierdź zmianę hasła">
    <p>Czy na pewno chcesz zmienić hasło?</p>
</div>

<script>
    $(function() {
        $("#dialog-1").dialog({
            autoOpen: false,
            modal: true,
            buttons: [
              {
                text: "Potwierdź",
                click: () => {
                    $("#send_form").submit();
                }
              },  
            ]
        });

        $("#submit_form").on('click', () => {
            $("#dialog-1").dialog('open');
        })

    })
</script>

<%- include('../templates/footer.ejs') %>