<%- include ../templates/header %>
<%- include ../templates/navbar %>

<div class="main-body-container">
    <fieldset>
        <legend><h2>Zaloguj się</h2></legend>
    <div class="login-wrapper">
        <form action="" method="POST">
            <label for="">Email:</label>
            <input name="username" type="text" placeholder="Email: @dziennikuj.X.edu.pl">
            <label for="">Hasło:</label>
            <input name="password" type="text" placeholder="***********">
            <div>
                <button>Zaloguj</button>
                <a href="/home/remind_password"><strong>Zresetuj hasło</strong></a>
            </div>
            </div>
        </form>
    </div>
</fieldset>
</div>

<%- include ../templates/footer %>