<%- include('../templates/header.ejs') %>
<%- include('../templates/navbar.ejs') %>

<div class="main-body-container">
    <fieldset>
        <legend><h2>Zaloguj się</h2></legend>
    <div class="login-wrapper">
        <form id="login_form" action="" method="POST">
            <label for="">Email:</label>
            <input id="username" name="username" type="text" placeholder="Email: @dziennikuj.X.edu.pl">
            <label for="">Hasło:</label>
            <input id="password" name="password" type="password" placeholder="***********">
            <div>
                <button>Zaloguj</button>
                <a href="/home/remind_password"><strong>Zresetuj hasło</strong></a>
            </div>
            <%- include('../templates/messages.ejs') %>
            </div>
        </form>
        <div class="temp">
            <fieldset style="padding: 1rem;">
            <legend>Debug</legend>
                <button type="button" id="u">Uczeń</button>
                <button type="button" id="r">Rodzic</button>
                <button type="button" id="n">Nauczyciel</button>
                <button type="button" id="a">Administrator</button>
        </fieldset>
    </div>
    </div>
</fieldset>
</div>

<script>
    $("#u").on('click', () => {
        $("#username").val("jan.kowalski@uczen.dziennikuj.pl");
        $("#password").val("uczen123");
        $("#login_form").submit();
    })
    $("#r").on('click', () => {
        $("#username").val("joanna.kowalska@rodzic.dziennikuj.pl");
        $("#password").val("rodzic123");
        $("#login_form").submit();
    })
    $("#n").on('click', () => {
        $("#username").val("pawel.kowal@nauczyciel.dziennikuj.pl");
        $("#password").val("nauczyciel123");
        $("#login_form").submit();
    })
    $("#a").on('click', () => {
        $("#username").val("dominik.mazurek@administrator.dziennikuj.pl");
        $("#password").val("administrator123");
        $("#login_form").submit();
    })
</script>

<%- include('../templates/footer.ejs') %>
