<%- include('../templates/header.ejs') %>
<%- include('../templates/navbar.ejs') %>


<div class="main-body-container">
    <fieldset>
        <legend><h2>Zresetuj hasło</h2></legend>
    <div class="login-wrapper">
        <form action="" method="POST">
            <label for="">Email:</label>
            <input name="email" type="text" placeholder="Email: @dziennikuj.X.edu.pl">
            <div>
                <button>Zresetuj</button>
            </div>
            <%- include('../templates/messages.ejs') %>
        </form>
    </div>
</fieldset>
</div>

<%- include('../templates/footer.ejs') %>